.cm-editor.cm-focused {
  outline: none !important;
}

.cm-editor {
  width: 100%;
}

.cm-gutterElement {
  display: none;
}

.CodeMirror {
  font-size: 1em;
  padding: 0 2rem 1rem 2rem;
}

@media (min-width: 800px) {
  .CodeMirror {
    font-size: 1.3em;
  }
}
